<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8">
            <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                <div id="user-form">
                 

                    <div class="form-group">
                        <label for="username">User Name: </label>
                        <input type="text" id="username" class="form-control" name="username"
                        formControlName="username">
                        <br>
                        <span *ngIf="signupForm.get('username')?.invalid && signupForm.get('username')?.touched " class="help-block">Please Enter a valid User</span>
                        
                        <!-- <span *ngIf="signupForm.get('username')?.errors?.['validated']" class="help-block">Please Enter a valid User</span>
                        <br/>
                        <span *ngIf="signupForm.get('username')?.errors?.['required']" class="help-block">Username is Required</span> -->
                    
                    </div>
                    <br/>
                    <div class="form-group">
                        <label for="">Email: </label>
                        <input type="text" id="email" class="form-control" name="email"
                        formControlName="email">
                    </div>
                    <br/>
                    <label for="">Do you want stay Signed in?</label>
                    <br/>
                    <div class="radio" *ngFor="let question of questions" >
                        <label >
                            <input formControlName="question" type="radio" [value]="question">{{question}}
                        </label>
                    </div>
                    <br/>
                    <button class="btn" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>