<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>market-wp.com - Page Not Found</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"
    />
  </head>
  <body>
    <div id="oopss">
      <div id="error-text">
        <img
          src="https://cdn.rawgit.com/ahmedhosna95/upload/1731955f/sad404.svg"
          alt="404"
        />
        <h2>404 Page Not Found</h2>
        <p class="p-a">
          Sorry, we couldn't find the page you were looking for.
        </p>
        <p class="p-b">
          Please check the URL or try searching for what you need.
        </p>
        <a routerLink="/welcome" class="back">Return to Home Page</a>
      </div>
    </div>
  </body>
</html>
