<div class="container" RtlSupported>
  <div class="row">
    <div class="col"></div>
    <h1 class="main-heading">Reactive Form</h1>
  </div>
  <ng-container *ngIf="formValueChanges$ | async as updatedForm"></ng-container>
  <form [formGroup]="myStudentForm" (ngSubmit)="onSubmit()">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <mat-card>
          <span class="d-flex justify-content-between align-item-baseline">
            <h2>Main Form</h2>
            <mat-slide-toggle formControlName="autosave"
              >Auto Save
            </mat-slide-toggle>
          </span>
          <div class="row">
            <mat-form-field class="col" [ngClass]="routerAnimationsElement">
              <input
                matInput
                placeholder="First Name"
                formControlName="FirstName"
              />
              <mat-error *ngIf="myStudentForm.get('FirstName')?.invalid">
                First Name is required
              </mat-error>
            </mat-form-field>

            <mat-form-field class="col" [ngClass]="routerAnimationsElement">
              <input
                matInput
                placeholder="Last Name"
                formControlName="LastName"
              />
              <mat-error *ngIf="myStudentForm.get('LastName')?.invalid">
                Last Name is required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="col" [ngClass]="routerAnimationsElement">
              <input
                matInput
                type="email"
                placeholder="Email"
                formControlName="email"
              />
              <mat-error
                *ngIf="myStudentForm.get('email')?.hasError('required')"
              >
                Email is required
              </mat-error>
              <mat-error *ngIf="myStudentForm.get('email')?.hasError('email')">
                Email is not valid
              </mat-error>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="col" [ngClass]="routerAnimationsElement">
              <input
                matInput
                formControlName="DoB"
                [matDatepicker]="picker"
                placeholder="Birthday"
              />
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="myStudentForm.get('DoB')?.hasError('required')">
                Date of Birth is required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field class="col" [ngClass]="routerAnimationsElement">
              <textarea
                matInput
                placeholder="Description"
                formControlName="description"
                minlength="10"
                maxlength="1000"
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="3"
                cdkAutosizeMaxRows="10"
              ></textarea>
              <mat-hint align="end"
                >{{ myStudentForm.get("description")?.value?.length }} /
                1000</mat-hint
              >
              <mat-error
                *ngIf="myStudentForm.get('description')?.hasError('required')"
              >
                Description is required
              </mat-error>
              <mat-error
                *ngIf="myStudentForm.get('description')?.hasError('minlength')"
              >
                Description should have minimum 10 size
              </mat-error>
              <mat-error
                *ngIf="myStudentForm.get('description')?.hasError('maxlength')"
              >
                Description has a maximum of 1000 size
              </mat-error>
            </mat-form-field>
          </div>
          <div class="row buttons d-flex justify-content-between pad">
            <button
              mat-raised-button
              color="primary"
              [ngClass]="routerAnimationsElement"
            >
              Send
            </button>
            <button
              type="button"
              mat-raised-button
              color="accent"
              [disabled]="myStudentForm.get('autosave')?.value"
              [ngClass]="routerAnimationsElement"
              (click)="save()"
            >
              Save
            </button>
            <button
              type="reset"
              mat-raised-button
              (click)="onResetForm()"
              [ngClass]="routerAnimationsElement"
            >
              Reset
            </button>
          </div>
        </mat-card>
      </div>
    </div>
  </form>
</div>
