<div class="container">
    <mat-card>
        <mat-card-content>
            <section class="student">
                <h2>Main Form for</h2>
                <span class="student__name">
                    SAMPLE STUDENT
                </span>
            </section>
            <form action="" class="register-form" [formGroup]="mainFormGroup" (ngSubmit)="saveData()">
                <section class="question">
                    <mat-slide-toggle formControlName="doYouNeedLunch">Do you need Lunch ?</mat-slide-toggle>
                    <mat-slide-toggle formControlName="doYouNeedTransportToHome">Do you want transport facility ?</mat-slide-toggle>
                    <mat-slide-toggle formControlName="areYouFreeForWeekendClasses">Are you available for weekend Classes ?</mat-slide-toggle>
                </section>
                <br/>
                <h3>Enter Parents Detail</h3>
                <app-person-data-advanced title="Fathers Detail" controlKey="fatherData"></app-person-data-advanced>
                <br/>
                <app-person-data-advanced title="Mothers Detail" controlKey="motherData"></app-person-data-advanced>
                <br/>
                <button mat-raised-button color="primary">Submit</button>
                <section class="questions"></section>
            </form>
        </mat-card-content>
    </mat-card>
</div>