.container{
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.main-form-container{
    .form-group {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
}
.trueValue{
    color:yellow;
}

input.ng-invalid.ng-touched{
border: 1px solid red;
}