<div class="card">
  <div class="card-header">
    {{ pageTitle }}
  </div>
  <div class="table-responsive">
    <table
      class="table mb-0"
      *ngIf="movies$ | async as movies; else noSupplyFromAPI"
    >
      <thead>
        <th>Name</th>
        <th>Earning</th>
        <!-- <th>Release Date</th> -->
        <th>Entertainment House</th>
      </thead>
      <tbody>
        <tr *ngFor="let movie of movies">
          <td>{{ movie.name }}</td>
          <td>{{ movie.earning }}</td>
          <!-- <td>{{ movie.releaseDate }}</td> -->
          <td>{{ movie.userName }}</td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="showCelebrity">
      <table
        class="table mb-0"
        *ngIf="celebrity$ | async as celebrities; else noSupplyFromAPI"
      >
        <thead>
          <th>Name</th>
          <th>Description</th>
          <th>Debut</th>
        </thead>
        <tbody>
          <tr *ngFor="let celebrity of celebrities">
            <td>{{ celebrity.name }}</td>
            <td>{{ celebrity.description }}</td>
            <td>{{ celebrity.debut }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <ng-template #noSupplyFromAPI>
    <div class="alert alert-warning">No data from API.</div>
  </ng-template>
</div>
<div class="alert alert-danger" *ngIf="errorMessage">
  {{ errorMessage }}
</div>
<button (click)="showCelebrityTable()" class="btn btn-primary">
  Show Celebrity Table
</button>
